In [14]:
import pandas as pd
from pandas.io.html import read_html
from selenium import webdriver
from datetime import datetime

In [15]:
pages = ['https://www.f1fantasytracker.com/sentiment-tracker.html', 'https://www.f1fantasytracker.com/prices.html']
ids = ['constructorTable', 'driverTable']

In [16]:
from webdriver_manager.firefox import GeckoDriverManager

driver = webdriver.Firefox(executable_path=GeckoDriverManager().install())
# driver.get()

====== WebDriver manager ======
Current firefox version is 102.0
Get LATEST geckodriver version for 102.0 firefox
Getting latest mozilla release info for v0.31.0
Trying to download new driver from https://github.com/mozilla/geckodriver/releases/download/v0.31.0/geckodriver-v0.31.0-macos.tar.gz
Driver has been saved in cache [/Users/michaelmatney/.wdm/drivers/geckodriver/macos/v0.31.0]

In [17]:
frames = []

for page in pages:
    driver.get(page)
    for id in ids:
        table = driver.find_element_by_id(id)
        data = read_html(table.get_attribute('outerHTML'))
        frames.append(data[0])

In [18]:
driver.close()
driver.quit()

In [19]:
frames[0]

           Team  12 Hour  3 Hour  Latest Sentiment
0  Aston Martin      -15     -11      -2       63%
1        Alpine       -6      -2      -1       58%
2    Alfa Romeo      -17     -11      -2       53%
3       Ferrari       13       9       1       51%
4       Mclaren        6       5       1       21%
5          Haas        0      -4       0        0%
6      Red Bull       -7      -7      -1       -7%
7    AlphaTauri        9       9       1      -10%
8      Mercedes        3       1       0      -14%
9      Williams        1       2       0      -32%

In [20]:
frames[1]

                                 Driver  12 Hour  3 Hour  Latest Sentiment
0       Lance Stroll  STR  Aston Martin      -21     -18      -3       70%
1         George Russell  RUS  Mercedes       28      23       0       57%
2        Nicholas Latifi  LAT  Williams       -9      -3      -1       53%
3             Esteban Ocon  OCO  Alpine       14       8       1       46%
4            Mick Schumacher  SCH  Haas       26      21       2       26%
5             Alex Albon  ALB  Williams       72      73      10       20%
6      Valtteri Bottas  BOT  Alfa Romeo      -10      -8      -1      -10%
7         Max Verstappen  VER  Red Bull        0       1       1      -15%
8          Guanyu Zhou  ZHO  Alfa Romeo      -14     -12      -2      -21%
9            Lando Norris  NOR  Mclaren       22      15       2      -26%
10         Fernando Alonso  ALO  Alpine      -11      -3       1      -32%
11       Daniel Ricciardo  RIC  Mclaren        2       1       0      -41%
12  Sebastian Vettel  VET  Aston Martin      -23     -18      -2      -51%
13        Charles Leclerc  LEC  Ferrari       28      19       3      -55%
14           Kevin Magnussen  MAG  Haas      -10     -11      -1      -57%
15           SAI  Carlos Sainz  Ferrari      -12     -10      -1      -61%
16          Sergio Perez  PER  Red Bull      -37     -24      -3      -65%
17        Pierre Gasly  GAS  AlphaTauri       16       9       1      -70%
18        Lewis Hamilton  HAM  Mercedes        1       0       0      -72%
19        Yuki Tsunoda  TSU  AlphaTauri        5       7       1      -73%

In [21]:
frames[2]

           Team Current Price Season Start PriceSeason Price  Points/Million
0      Mercedes        $33.7m                         $34.5m            1.44
1      Red Bull        $32.4m                         $32.5m            1.78
2       Ferrari        $25.8m                         $25.0m            1.89
3       Mclaren        $17.5m                         $18.5m            1.15
4        Alpine        $14.0m                         $14.0m            1.47
5  Aston Martin        $11.0m                         $11.5m            1.64
6    AlphaTauri        $10.1m                         $10.5m            0.77
7    Alfa Romeo         $8.5m                          $8.0m            1.70
8      Williams         $7.1m                          $7.0m            1.29
9          Haas         $6.4m                          $6.0m            1.42

In [22]:
frames[3]

,Driver,Current Price,Season Start PriceSeason Price,Points/Million
0,Max Verstappen VER Red Bull,$30.5m,$30.5m,1.23
1,Lewis Hamilton HAM Mercedes,$30.1m,$31.0m,0.85
2,George Russell RUS Mercedes,$24.4m,$24.0m,1.16
3,Charles Leclerc LEC Ferrari,$18.8m,$18.0m,1.72
4,Sergio Perez PER Red Bull,$18.3m,$17.5m,1.48
5,SAI Carlos Sainz Ferrari,$17.3m,$17.0m,1.32
6,Lando Norris NOR Mclaren,$15.9m,$16.0m,1.10
7,Daniel Ricciardo RIC Mclaren,$13.5m,$14.5m,0.59
8,Pierre Gasly GAS AlphaTauri,$12.9m,$13.5m,0.69
9,Fernando Alonso ALO Alpine,$12.6m,$12.5m,0.90
10,Esteban Ocon OCO Alpine,$12.3m,$12.0m,1.29
11,Sebastian Vettel VET Aston Martin,$11.4m,$11.5m,0.99
12,Valtteri Bottas BOT Alfa Romeo,$9.6m,$9.0m,1.69
13,Lance Stroll STR Aston Martin,$9.2m,$9.5m,1.31
14,Yuki Tsunoda TSU AlphaTauri,$8.3m,$8.5m,0.51
15,Guanyu Zhou ZHO Alfa Romeo,$8.2m,$8.0m,0.52
16,Alex Albon ALB Williams,$7.5m,$7.5m,1.07
17,Nicholas Latifi LAT Williams,$6.7m,$7.0m,0.98
18,Mick Schumacher SCH Haas,$6.3m,$6.5m,0.92
19,Kevin Magnussen MAG Haas,$6.1m,$5.5m,1.37

In [23]:
driver = frames[1].merge(frames[3], on='Driver')

In [24]:
team = frames[0].merge(frames[2], on='Team')

In [25]:
out = [team, driver]

for frame in out:
    frame['ts'] = (datetime.now()).strftime('%Y-%m-%d %H:%M:%S')

## Write Data

In [26]:
frame_labels = ['team_sent', 'driver_sent']

for i, frame in enumerate(out):
    frame.to_csv(f'./data/raw/sent/{frame_labels[i]}-{datetime.now():%Y-%m-%d.%H%M%S}.csv', sep='|')