In [1]:
import pandas as pd
from pandas.io.html import read_html
from selenium import webdriver

In [2]:
pages = ['https://www.f1fantasytracker.com/standings.html', 'https://www.f1fantasytracker.com/prices.html']
ids = ['constructorTable', 'driverTable']

In [3]:
from webdriver_manager.firefox import GeckoDriverManager

driver = webdriver.Firefox(executable_path=GeckoDriverManager().install())
# driver.get()

====== WebDriver manager ======
Current firefox version is 100.0
Get LATEST geckodriver version for 100.0 firefox
There is no [macos] geckodriver for browser 100.0 in cache
Getting latest mozilla release info for v0.31.0
Trying to download new driver from https://github.com/mozilla/geckodriver/releases/download/v0.31.0/geckodriver-v0.31.0-macos.tar.gz
Driver has been saved in cache [/Users/michaelmatney/.wdm/drivers/geckodriver/macos/v0.31.0]

In [4]:
frames = []

for page in pages:
    driver.get(page)
    for id in ids:
        table = driver.find_element_by_id(id)
        data = read_html(table.get_attribute('outerHTML'))
        frames.append(data[0])

In [5]:
driver.close()
driver.quit()

In [6]:
frames[2].sort_values(by=['Points/Million'], ascending=False)

           Team Current Price Season Start PriceSeason Price  Points/Million
7    Alfa Romeo         $8.4m                          $8.0m            2.29
2       Ferrari        $25.8m                         $25.0m            2.24
9      Williams         $6.5m                          $7.0m            1.97
1      Red Bull        $32.1m                         $32.5m            1.76
8          Haas         $6.7m                          $6.0m            1.61
0      Mercedes        $33.8m                         $34.5m            1.40
5  Aston Martin        $11.0m                         $11.5m            1.16
3       Mclaren        $17.6m                         $18.5m            1.15
4        Alpine        $13.9m                         $14.0m            1.06
6    AlphaTauri        $10.1m                         $10.5m            1.03

In [7]:
frames[3].sort_values(by=['Points/Million'], ascending=False)

,Driver,Current Price,Season Start PriceSeason Price,Points/Million
3,Charles Leclerc LEC Ferrari,$18.9m,$18.0m,2.32
19,Kevin Magnussen MAG Haas,$6.1m,$5.5m,2.20
12,Valtteri Bottas BOT Alfa Romeo,$9.4m,$9.0m,1.94
16,Alex Albon ALB Williams,$7.4m,$7.5m,1.62
4,Sergio Perez PER Red Bull,$18.2m,$17.5m,1.46
10,Esteban Ocon OCO Alpine,$12.4m,$12.0m,1.40
13,Lance Stroll STR Aston Martin,$8.9m,$9.5m,1.35
2,George Russell RUS Mercedes,$24.2m,$24.0m,1.29
0,Max Verstappen VER Red Bull,$30.3m,$30.5m,1.14
6,Lando Norris NOR Mclaren,$16.1m,$16.0m,1.09
5,SAI Carlos Sainz Ferrari,$17.2m,$17.0m,1.07
15,Yuki Tsunoda TSU AlphaTauri,$8.3m,$8.5m,0.96
17,Nicholas Latifi LAT Williams,$6.6m,$7.0m,0.94
14,Guanyu Zhou ZHO Alfa Romeo,$8.4m,$8.0m,0.76
1,Lewis Hamilton HAM Mercedes,$30.2m,$31.0m,0.64
8,Pierre Gasly GAS AlphaTauri,$13.0m,$13.5m,0.60
7,Daniel Ricciardo RIC Mclaren,$14.0m,$14.5m,0.57
11,Sebastian Vettel VET Aston Martin,$11.4m,$11.5m,0.54
18,Mick Schumacher SCH Haas,$6.2m,$6.5m,0.45
9,Fernando Alonso ALO Alpine,$12.5m,$12.5m,0.22

In [8]:
frames[0].sort_values(by='Total', ascending=False)

,Team,BAH,SAU,AUS,ITA,USA,SPA,MON,AZE,CAN,...,BEL,NET,ITA.1,SIN,JAP,USA.1,MEX,BRA,ABU,Total
3,Ferrari,76,63,44,30,76,0,0,0,0,...,0,0,0,0,0,0,0,0,0,289.0
1,Red Bull,4,62,39,99,79,0,0,0,0,...,0,0,0,0,0,0,0,0,0,283.0
0,Mercedes,57,34,64,31,50,0,0,0,0,...,0,0,0,0,0,0,0,0,0,236.0
9,Mclaren,9,9,37,41,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,101.0
6,Alfa Romeo,31,3,24,35,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,96.0
2,Alpine,24,13,10,8,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,74.0
5,Aston Martin,14,19,3,32,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,64.0
7,Williams,15,-1,8,17,25,0,0,0,0,...,0,0,0,0,0,0,0,0,0,64.0
8,Haas,27,1,13,8,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,54.0
4,AlphaTauri,10,3,8,36,-5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,52.0

In [9]:
frames[1]

,Driver,BAH,SAU,AUS,ITA,USA,SPA,MON,AZE,CAN,...,BEL,NET,ITA.1,SIN,JAP,USA.1,MEX,BRA,ABU,Total
0,Hamilton Mercedes,34,13,26,5,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,97
1,Verstappen Red Bull,5,45,4,62,56,0,0,0,0,...,0,0,0,0,0,0,0,0,0,172
2,Russell Mercedes,28,26,33,33,36,0,0,0,0,...,0,0,0,0,0,0,0,0,0,156
3,Perez Red Bull,4,22,35,44,28,0,0,0,0,...,0,0,0,0,0,0,0,0,0,133
4,Alonso Alpine,9,-3,-5,2,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
5,Leclerc Ferrari,49,41,49,30,50,0,0,0,0,...,0,0,0,0,0,0,0,0,0,219
6,Gasly AlphaTauri,-4,17,14,13,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39
7,Vettel Aston Martin,4,15,-7,24,-5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31
8,Sainz Ferrari,32,27,-5,7,31,0,0,0,0,...,0,0,0,0,0,0,0,0,0,92
9,Tsunoda AlphaTauri,19,-9,-1,30,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40
10,Ocon Alpine,20,21,20,13,13,0,0,0,0,...,0,0,0,0,0,0,0,0,0,87
11,Bottas Alfa Romeo,22,-2,20,34,17,0,0,0,0,...,0,0,0,0,0,0,0,0,0,91
12,Stroll Aston Martin,15,9,15,15,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,60
13,Albon Williams,10,13,5,14,18,0,0,0,0,...,0,0,0,0,0,0,0,0,0,60
14,Zhou Alfa Romeo,14,10,9,8,-9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,32
15,Latifi Williams,10,-9,8,10,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31
16,Magnussen Haas,27,14,6,18,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,67
17,Schumacher Haas,5,-8,12,-3,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
18,Ricciardo Mclaren,13,-8,18,5,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40
19,Norris Mclaren,1,22,24,43,-2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,88

## Write Data

In [10]:
frame_labels = ['team_pts', 'driver_pts', 'team_price', 'driver_price']

for i, frame in enumerate(frames):
    frame.to_csv(f'./data/raw/{frame_labels[i]}.csv', sep='|')